header {
  background: var(--gradient);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10%;
}

#header-name {
  color: var(--elements-color);
  font-weight: bold;
  font-size: 2.5vw;
}

#header-fullstack,
#header-about-me {
  color: var(--text-color);
}

#header-fullstack {
  font-size: 11vw;
  font-weight: 800;
}

#header-div-name-icons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header-div-icons {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

#header-div-about-me {
  width: 100%;
  display: flex;
  justify-content: end;
}

#header-about-me {
  width: 70%;
  text-indent: 10vw;
  font-size: 1.2vw;
}

.header-img {
  transform: scale(0.9);
  transition: transform .3s;
}

.header-img:hover {
  transform: scale(1.1);
  transition: transform .3s;
  cursor: pointer;
}