* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #837e9f;
  font-family: 'Merriweather Sans', sans-serif;
}

h1 {
  padding: 24px;
  width: 100%;
  text-align: center;
  color: white;
  background-color: black;
  margin-bottom: 3%;
}
body {
  background-color: #22212c;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div {
  background-color: #302f3d;
  width: 80%;
  display: flex;
  border-radius: 16px;
}

div img {
  max-width: 200px;
  border-radius: 12px;
}

a:link {
  text-decoration: none;
}

a {
  display: flex;
}
.container {
  padding: 12px;
  margin-bottom: 20px;
}

.container:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: black;
  border: 2px solid lightgrey;
}
.container:hover .text {
  background-color: black;
}
.container:hover {
  transition: transform 0.5s;
}

.text {
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
  color: #fff;
  font-size: 20px;
}

.description {
  padding: 12px;
}

@media (max-width: 767px) {
  .title {
    font-size: 16px;
  }
  .description {
    font-size: 12px;
  }
}

@media (max-width: 620px) {
  a {
    flex-direction: column;
    align-items: center;
  }
  .text {
    text-align: center;
  }
  #img-desk {
    display: none;
  }
}

@media (min-width: 621px) {
  #img-smart {
    display: none;
  }
}
