#cardContainer {
  width: 100%;
  display: flex;
}

.cardText {
  color: var(--text-color);
}

#cardContent {
  display: flex;
  flex-direction: column;
  text-align: justify;
  align-items: center;
  margin: 7% 5% 0 0;
}

#cardTitle {
  font-size: 4vw;
  font-weight: bold;
  margin-bottom: 5%;
  text-align: center;
}

#cardButton {
  width: 60%;
  border-radius: 5px;
  background: var(--elements-color);
  padding: 4%;
  font-weight: bold;
  margin-top: 7%;
}

#cardImage {
  width: 80%;
}

#cardButton:hover {
  background: var(--elements-hover);
  cursor: pointer;
}

@media (max-width: 1023px) {
  #cardContainer {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  #cardTitle {
    font-size: 5vw;
    margin-bottom: 8%;
  }

  #cardDescription {
    font-size: 3vw;
    max-width: 80%;
  }

  #cardButton {
    width: 40%;
    margin-top: 10%;
    font-size: 2vw;
  }
}